<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %> — GoldenEye</title>
    <link rel="icon" href="/favicon.png">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" type="text/css">
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= controller_name.dasherize %> <%= action_name.dasherize %>">

    <div class="masthead">
      <div class="container header">
        <a class="masthead__name" href="<%= projects_url %>">GoldenEye<img src="/goldeneye-logo.png" alt="" class="masthead__logo"></a>
        <%= link_to "Login", new_user_session_path, class:"masthead__login" %>
      </div>
    </div>

    <div class="container body">
      <%= yield %>
    </div>

  </body>
</html>
